@font-face {
  font-family: 'KatyBerry';
  src: url('../../src/fonts/kberry.ttf');
  src: local('Katy Berry'), local('KatyBerry'),
  url('../../src/fonts/kberry.ttf') format('ttf'),
  url('../../src/fonts/kberry.woff2') format('woff2'),
  url('../../src/fonts/kberry.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}
